# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

output.css
*.txt
*.log
tmp.json

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
build/
expo-env.d.ts
linkoglot-*.json
*-keystore-*.zip
*-keystore-*.md

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
*.p8
sign-jwt-apple-p8-key.js

# env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
